# Explicit listing of additional files to be included in packaging

include makefile
include requirements.txt
include USER_AGREEMENT.txt
include README.rst
recursive-include aurora *
recursive-include aurora.jl *
recursive-include docs *
recursive-include examples *

